<div class="row mt">
  <div id="center-dashboard" class="col-lg-9">
    <%= render "application_partials/main_section_dashboard" %>
  </div>


  <div id="right-sidebar-dashboard" class="col-lg-3 ds pn" >
    <%= render "application_partials/right_sidebar" %>
  </div>
</div>
