<div class="form-login">
  <h2 class="form-login-heading">
    <%= image_tag 'logo-asside', class: 'login-logo' %> 
    Thank You 
  </h2>

  <div class="login-wrap">
  </div>

  <div class="form-group">
  </div>
</div>


