<div class="form-login form-register registerd">
  <h2 class="form-login-heading">
    <%= image_tag 'logo', class: 'login-logo' %> 
    Thank You!
  </h2>

  <div class="login-wrap">
    <p>Registration Successful!</p>
    <p>Welcome Email Sent.</p>
  </div>

  <div class="form-group">
      <%= link_to 'OK', new_front_path,  class: 'btn btn-default btn-block import', id: 'register' %> 
  </div>
</div>


