<div class="tables-wrapper">
  <div class="white-panel pn">
    <div class="white-header">
      <h1> <i class="fa fa-chevron-right" aria-hidden="true"></i> New Dog Owner<h1>
    </div>
    <%= render "panel_navigation" %>
    <%= render 'form' %>
  </div>
</div>



