<div id="custom-event">
  <h3>
    <p>custom</p>
  </h3>
  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#custom-event-description-tab" aria-controls="custom-event-description-tab" role="tab" data-toggle="tab">Description</a></li>
      <li role="presentation"><a href="#custom-event-dog-tab" aria-controls="custom-event-dog-tab" role="tab" data-toggle="tab">Dogs</a></li>
      <li role="presentation"><a href="#custom-event-clients-tab" aria-controls="custom-event-clients-tab" role="tab" data-toggle="tab">Clients</a></li>
      <li role="presentation"><a href="#custom-event-voluteer-tab" aria-controls="custom-event-voluteer-tab" role="tab" data-toggle="tab">Volunteers</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="custom-event-description-tab">
        <p> Place for custom-event-description-tab </p>
      </div>
      <div role="tabpanel" class="tab-pane" id="custom-event-dog-tab">
        <p> Place for custom-event-dog-tabs</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="custom-event-clients-tab">
        <p> Place for custom-event-clients-tab</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="custom-event-voluteer-tab">
        <p> Place for custom-event-voluteer-tab</p>
      </div>
    </div>
  </div>
</div>
