<div class="modal fade" id="newEvent">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="closeNewEvent close">x</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="containter">
              <div class="row">
                <div class="col-md-12">
                  <p id="notice"><%= notice %></p>
                  <br>
                  <div id="event_date_range"></div>
                  <div id="date_picker"></div>
                  <%= render 'form' %> 
                  <div id="result"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="closeNewEvent btn btn-default">close</button>
      </div>
    </div>
  </div>
</div>
