<div id="training">
  <h3>
    <p>training</p>
  </h3>
  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#dog-client-tab" aria-controls="dog-client-tab" role="tab" data-toggle="tab">Trainees</a></li>
      <li role="presentation"><a href="#trainer-tab" aria-controls="trainer-tab" role="tab" data-toggle="tab">Trainers</a></li>
      <li role="presentation"><a href="#training-description-tab" aria-controls="training-description-tab" role="tab" data-toggle="tab">Description</a></li>
      <li role="presentation"><a href="#training-note-tab" aria-controls="training-note-tab" role="tab" data-toggle="tab">Note</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="dog-client-tab">place for dogs and clients</div>
      <div role="tabpanel" class="tab-pane" id="trainer-tab">place for trainers</div>
      <div role="tabpanel" class="tab-pane" id="training-description-tab">place for problem description</div>
      <div role="tabpanel" class="tab-pane" id="training-note-tab">place for traning note</div>
    </div>
  </div>
</div>
