<fieldset id="visit">
  <h3>
    <p>visit</p>
  </h3>
  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#visit-volunteer-tab" aria-controls="visit-volunteer-tab" role="tab" data-toggle="tab">Volunteer</a></li>
      <li role="presentation"><a href="#visit-client-tab" aria-controls="visit-client-tab" role="tab" data-toggle="tab">Client</a></li>
      <li role="presentation"><a href="#visit-note-tab" aria-controls="visit-note-tab" role="tab" data-toggle="tab">Notes</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <%= event.simple_fields_for :visit do |visit|  %>
        <div role="tabpanel" class="tab-pane active" id="visit-volunteer-tab">
          visit-details-tab
        </div>
        <div role="tabpanel" class="tab-pane" id="visit-client-tab">
          visit-client-tab
        </div>
        <div role="tabpanel" class="tab-pane" id="visit-note-tab">
          visit-note-tab
        </div>
      <% end %> 
    </div>
  </div>
</fieldset>
