<fieldset id="visit">
  <h3>
    <p>visit</p>
  </h3>
  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#visit-details-tab" aria-controls="visit-details-tab" role="tab" data-toggle="tab">Visit Details</a></li>
      <li role="presentation"><a href="#visit-note-tab" aria-controls="visit-note-tab" role="tab" data-toggle="tab">Notes</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="visit-details-tab">visit-details-tab</div>
      <div role="tabpanel" class="tab-pane" id="visit-note-tab">visit-note-tab</div>
    </div>
  </div>
</fieldset>
