<header class="header black-bg">

  <div class="sidebar-toggle-box">
    <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
  </div> 

  <!--logo start-->
  <%# <p class="centered"><a href="profile.html"><img src="assets/logo.png" class="img-responsive" ></a></p> %>
  <%# <h5 class="centered">Navigation</h5> %>
  <%# <a href="index.html" class="logo"><b>DASHGUM FREE</b></a> %>
  <!--logo end-->

  <%= render "application_partials/menu_bar" %>

  <div class="top-menu">
    <ul class="nav pull-right top-menu">
      <li> <%= link_to "Logout", logout_path, class: 'logout' %> </li>
    </ul>
  </div>

</header>
