<% if import_objects.errors.any? %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div id="error-explanation">
      <h3><%= pluralize(import_objects.errors.count, "error") %> prohibited this import from completing:</h3>
      <ul>
        <% import_objects.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div> 
<% elsif import_objects.notice %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div id="notice-explanation">
      <h3>Import completed</h3>
      <div> <%= import_objects.notice %> </div>
    </div>
  </div>
<% elsif flash[:file_exceptions] %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <div id="exception-explanation">
      <h3>Some errors occured while trying import data:</h3>
      <div> <%= flash[:file_exceptions] %> </div>
    </div><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
<% end %>
