<div class="row">
  <div class="col-md-6">
    <div class="tables-wrapper">
      <div class="white-panel pn">
        <div class="white-header">
          <h4> <i class="fa fa-chevron-right" aria-hidden="true"></i> Chart 1</h4>
        </div>
        <div class="chart-dash">
          <%= pie_chart @data, library: { 
            is3D: true, 
            height: "300px",
            width: "350px",
            legend: "up"

          } %>
      </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="tables-wrapper">
      <div class="white-panel pn">
        <div class="white-header">
          <h4> <i class="fa fa-chevron-right" aria-hidden="true"></i> Chart 1</h4>
        </div>
        <%= column_chart Volunteer.group_by_quarter(:created_at, format: "%b %Y").count %>
      </div>
    </div>
  </div>
</div>
<br>
