#clientShowModal
  #accordion
    .panel
      border-radius: none
      border: none
      margin-bottom: 0
      border-radius: 0
      box-shadow: 0
    .panel-heading
      padding: 0
    .panel-title
      font-size: 13px
