.desc
  .thumb
    margin: 0 10px 0 15px
  .details p
    font-size: 12px
    padding-left: 15px
  .badge 
    padding: 3px 5px
    border-radius: 50%
    i
      font-size: 25px
      line-height: 100%

#dashboard
  padding: 30px

#center-dashboard
  .row
    margin-right: -5px
  .white-panel
    padding: 0
  .white-header
    margin: 0

#right-sidebar-dashboard
  height: 86vh

.mt
  margin-right: 5px

.chart-dash
  position: relative

.liveness-icon
  font-size: 3.5em

.liveness-wrapper
  margin-bottom: 10px
  padding: 20px 15px 20px 20px

