
#custom-event, #training, #transfer, #visit, .event_training_other
  display: none

#training-other
  margin-left: -15px

.modal-body
  padding: 40px

#core-event
  .minicolors-input
    padding-left: 0 !important
    color: white
  .from-horizontal, .form-group
    margin-left: -10px 
    margin-right: -10px
  .form-group
    margin-bottom: 4px
  .form-control
    border-radius: 3px
    font-size: 13px
  .tab-content, .nav-tabs
    margin-left: -9px
    margin-right: -9px

input.error, textarea.error
  border: solid 1px red
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important
  z-index: 999
label.error
  color: red

.validate-group-error-placement
  height: 15px

.disabledTab
  pointer-events: none

#event-submit
  float: right
  display: none
  position: relative
  top: -34px

.next-step
  float: right

.closeNewEvent.btn.btn-default
  margin-top: 25px
