
#custom-event, #training, #transfer, #visit, .event_training_other
  display: none

#training-other
  margin-left: -15px

.modal-body
  padding: 30px

.minicolors-input
  padding-left: 0 !important
  color: white
  width: 4%

input.error, textarea.error
  border: solid 1px red
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important
  z-index: 999
label.error
  color: red

.validate-group-error-placement
  height: 15px

.disabledTab
  pointer-events: none

#event-submit
  float: right
  display: none
  position: relative
  top: -25px

.next-step
  float: right

.closeNewEvent.btn.btn-default
  margin-top: 25px
