<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <%= nav_action_link 'Accounts', accounts_stats_path %> 
  </li>
  <li class="nav-item">
    <%= nav_action_link 'Volunteers', volunteers_stats_path %> 
  </li>
  <li class="nav-item">
    <%= nav_action_link 'Donations', donations_stats_path %> 
  </li>
</ul>
