<p id="notice"><%= notice %></p>
<div class="tables-wrapper statistics-wrapper">
  <div class="white-panel pn">
    <div class="white-header">
      <h1> <i class="fa fa-chevron-right" aria-hidden="true"></i> Statistics</h1>
    </div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Accounts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Volunteers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Donations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Settings</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="home" role="tabpanel">
        <div class="row">
          <div class="col-md-12">
            <div class="stat-panel pn">
              <div class="stat-header">
                <div class="row">
                  <div class="col-sm-6 col-xs-6">
                    <p>Acocunts</p>
                  </div>
                  <div class="col-sm-6 col-xs-6 goright">
                    <p class="small">Thu Apr 14, 2014</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <%= column_chart Volunteer.group_by_quarter(:created_at, last: 6, format: '%b').count %> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%# end accounts tab %>
      <div class="tab-pane" id="profile" role="tabpanel">
        <div class="row">
          <div class="col-md-12">
            <div class="stat-panel pn">
              <div class="stat-header">
                <div class="row">
                  <div class="col-sm-6 col-xs-6">
                    <p>Acocunts</p>
                  </div>
                  <div class="col-sm-6 col-xs-6 goright">
                    <p class="small">Thu Apr 14, 2014</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="chart">
                    <%= column_chart Volunteer.group_by_quarter(:created_at, last: 6, format: '%b').count %> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%# end volunteer tab %>
      <div class="tab-pane" id="messages" role="tabpanel">
        <div clas="row">
        </div>
      </div>
      <div class="tab-pane" id="settings" role="tabpanel">
        <div class="row">
          <div class="col-md-4 col-sm-4 mb">
            <div class="darkblue-panel pn">
              <div class="darkblue-header">
                <h5>SITE STATICS</h5>
              </div>
              <h1 class="mt"><i class="fa fa-user fa-3x"></i></h1>
              <p>+ 1,789 NEW VISITS</p>
              <footer>
                <div class="centered">
                  <h5><i class="fa fa-trophy"></i> 17,988</h5>
                </div>
              </footer>
            </div><! -- /darkblue panel -->
          </div><!-- /col-md-4 -->
        </div>
      </div>
    </div>
  </div>
